
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.icon{
    color: rgb(33, 79, 164);
  
}
.star{
  color: orange
}
.shadebottom {
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}
main{
  max-width: 1200px;
  margin: 40px;
background-color: rgb(238, 238, 238);
}
